.wrapper {
    padding: var(--mantine-spacing-xl) 0;
  }
  
  .title {
    font-size: var(--mantine-font-size-xl);
    font-weight: 900;
    margin-bottom: var(--mantine-spacing-xl);
    
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: var(--mantine-font-size-lg);
    }
  }
  
  .timeline {
    max-width: rem(800px);
    margin: 0 auto;
  }